.book_top_title {
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    text-align: center;
}

.book_top {
    margin: 0px 43px 44px 64px;
    border: 2px solid #FFFFFF;
    box-shadow: 4px 4px 8.300000190734863px 0px #0000001A;
    position: relative;
}



.book_top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 192px 22px 62px;
}

.book_top_left_title {
    font-size: 45px;
    font-weight: 500;
    line-height: 53px;
}

.book_top_left_text {
    max-width: 528px;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    margin-bottom: 26px;
}

.book_top_left_btn {
    width: 261.05px;
    height: 63px;
    border-radius: 11px;
    background: linear-gradient(264.77deg, #FFCA42 5.04%, #F58633 107.77%);
    box-shadow: 4px 4px 36.099998474121094px 0px #F89E4459;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    cursor: pointer;
    border: none;
    transition: .5s;
}

.book_top_left_btn:hover {
    box-shadow: 0px 0px 10px 10px #F89E4459;
    transition: .5s;
}




.book_bottom_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    padding: 0px 165px 2px 121px;
    position: relative;
}

.book_bottom_left {
    max-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}



.book_bottom_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width:1250px) {
    .book_bottom_content {
        gap: 0px;
    }
}




@media only screen and (max-width:1150px) {

    .book_bottom_content {
        width: 100%;
        justify-content: space-between;
        flex-direction: column-reverse;
        padding: 0px 100px;
        margin-top: 50px;
    }

    .book_bottom_left {
        max-width: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        gap: 19px;
    }

    .book_bottom_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10%;
    }

    .book_bottom_images {
        max-width: 200px;
    }

    .book_top_title {
        font-size: 40px;
        line-height: 70px;
        margin-bottom: 20px;
    }

    .book_top {
        margin: 0px;
        border: none;
        box-shadow: 0px 0px 0px white;
    }

    .book_top_content {
        padding: 0px 100px;
    }

    .book_top_left_title {
        font-size: 30px;
        line-height: 45px;
    }

    .book_top_left_text {
        max-width: 80%;
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .book_top_left_btn {
        width: 250px;
        height: 63px;
        border-radius: 10px;
    }
}


@media only screen and (max-width:850px) {

    .book_top_content {
        padding: 0px 0px;
    }

    .book_top_left_text {
        max-width: 100%;
    }

    .book_top_right {
        max-width: 200px;
    }

    .book_bottom_content {
        padding: 0px;
    }
}


@media only screen and (max-width:600px) {
    .book_bottom_left {
        background: #FFFBF580;
        box-shadow: 4px 4px 8.300000190734863px 0px #0000001A;
        padding: 25px 0px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .book_bottom_card_images {
        max-width: 98px;
        max-height: 71px;
    }

    .book_top_title {
        font-size: 30px;
        line-height: 55px;
    }



    .book_top_left_title {
        font-size: 25px;
        line-height: 29px;
    }

    .book_top_left_text {
        max-width: 90%;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 21px;
    }

    .book_top_left_btn {
        width: 140px;
        height: 26px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 20px;
    }

    .book_top_right {
        max-width: 167px;
    }
}


@media only screen and (max-width:400px) {
    .book_bottom_images{
        max-width: 163px;

    }
    .book_bottom_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0%;
    }
    .book_top_left_title {
        max-width: 121px;
    }

    .book_top_left_text {
        max-width: 100%;
        font-size: 12px;
        line-height: 13px;
    }

    .book_top_left_btn {
        font-size: 15px;
    }

    .book_bottom_left{
        gap: 0px;
    }

}