.main {
    padding: 0px 0px 79px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.main::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0;
    width: 583px;
    height: 583px;
    background-image: url('../../../assets/images/hero_before_images.png');
    background-repeat: no-repeat;
    z-index: -1;
}

.main_left_title {
    max-width: 600px;
    margin-bottom: 31px;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.main_left_text {
    max-width: 645px;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 97px;
}

.main_btn {
    margin-bottom: 66px;
    width: 230px;
    height: 63px;
    background: linear-gradient(264.77deg, #FFCA42 5.04%, #F58633 107.77%);
    box-shadow: 4px 4px 36.099998474121094px 0px #F89E4459;
    border-radius: 11px;
    font-size: 28px;
    font-weight: 500;
    line-height: 33px;
    cursor: pointer;
    transition: .5s;
    border: none;
}

.main_btn:hover {
    box-shadow: 0px 0px 10px 10px #F89E4459;
    transition: .5s;
}

.main_left_bottom_img_group {
    display: flex;
    align-items: center;
    gap: 10.37px;
}

.main_card_images_div {
    display: flex;
    align-items: center;
}


.main_card_images:nth-child(2),
.main_card_images:nth-child(3),
.main_card_images:last-child {
    margin-left: -30px;

}

.main_left_bottom_text_group {
    display: flex;
    flex-direction: column;

}

.main_left_bottom_title {
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
}

.main_left_bottom_text {
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    color: #7A7777;
}

.main_right {
    position: relative;
}

.main_right_images {
    max-width: 554px;
}

.main_right_images_two {
    max-width: 811px;
    position: absolute;
    left: 35px;
    z-index: -1;
}

.main_right_media {
    display: none;
}

@media only screen and (max-width:1300px) {




    .main_left_title {
        margin-bottom: 30px;
        font-size: 44px;
        line-height: 50px;
    }

    .main_left_text {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 100px;
    }



    .main_left_bottom_img_group {
        display: flex;
        align-items: center;
        gap: 10.37px;
    }
}

@media only screen and (max-width:1150px) {
    .main {
        padding: 50px 0px 70px 0px;
        align-items: flex-start;
    }

    .main::before {
        max-width: 583px;
        max-height: 583px;
    }

    .main_left_title {
        max-width: 100%;
        font-size: 40px;
        line-height: 50px;
    }

    .main_left_text {
        max-width: 100%;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 70px;
    }

    .main_right {
        display: none;
    }

    .main_right_media {
        display: block;
        position: relative;
    }

    .main_right_images_media_one {
        position: absolute;
        top: 80px;
        left: 0px;
    }

}


@media only screen and (max-width:768px) {
    .main {
        padding: 20px 0px 0px 0px;
        align-items: flex-end;
        flex-direction: column;
    }

    .main_left_title {
        width: 100%;
        font-size: 36px;
        line-height: 40px;
    }

    .main_left_text {
        max-width: 100%;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 50px;
    }

    .main_right_media {
        position: relative;
        top: -200px;
    }


    .main_right_images_media_one {
        position: absolute;
        top: 80px;
        left: 0px;
    }


    .main_btn {
        margin-bottom: 50px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        font-size: 22px;
        line-height: 28px;
    }


    .main_left_bottom_img_group {
        gap: 0px;
    }

    .main_card_images_div {
        display: flex;
        align-items: center;
    }

    .main_card_images:nth-child(2),
    .main_card_images:nth-child(3),
    .main_card_images:last-child {
        margin-left: -30px;

    }


    .main_left_bottom_title {
        font-size: 22px;
        line-height: 25px;
    }

    .main_left_bottom_text {
        font-size: 12px;
    }

    .main_card_images {
        width: 75px;
    }

}


@media only screen and (max-width:600px) {
    .main {
        padding: 73px 0px 0px 0px;
        align-items: flex-end;
        flex-direction: column;
    }

    .main_left_title {
        font-size: 23px;
        line-height: 27px;
        margin-bottom: 25px;
    }

    .main_left_text {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 25px;
    }


    .main_btn {
        width: 101px;
        height: 23px;
        border-radius: 4px;
        margin-bottom: 34px;
        font-size: 12px;
        line-height: 14px;
    }

    .main_card_images:nth-child(2),
    .main_card_images:nth-child(3),
    .main_card_images:last-child {
        margin-left: -7px;
    }



    .main_left_bottom_title {
        font-size: 14px;
        line-height: 16px;
    }

    .main_left_bottom_text {
        font-size: 9px;
    }

    .main_card_images {
        width: 26px;
        height: 26px;
    }

    .main_right_media {
        position: relative;
        top: -150px;
    }

    .main::before {
        width: 100%;
        height: 100%;
    }
}



@media only screen and (max-width:400px) {


    .main_right_media {
        position: relative;
        top: -100px;
    }

    .main::before {
        width: 100%;
        height: 100%;
    }
}